/* Frameworks */
@import 'frameworks/bootstrap3';
// @import 'frameworks/bootstrap4';

/* Fonts */
@import '../../../node_modules/fork-awesome/css/fork-awesome.min.css';
@import 'fonts/ptsans_caption';

/* Variables */
$bgcolor: #eee;

$violet: #6a5687;
$orange: #eb7239;
$bleu: #0c5b7a;
$rouge: #cc2d18;
$vert: #8E9C48;
$jaune: #C48A1B;
$marron: #5d4037;

$ombre: 0px 3px 4px rgba(50, 50, 50, 0.2);
$img-ombre: 0px 2px 6px rgba(50, 50, 50, 0.4);
$carousel-ombre: 0px 3px 3px rgba(50, 50, 50, 0.5);
$button-ombre: 0px 1px 1px rgba(50, 50, 50, 0.5);

@import 'full';
@import 'lite';

/* Frama */
@import 'frama/bs3';
@import 'frama/common';

@import 'soutenir';
@import 'home';
